header {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tbody > tr:nth-of-type(4n + 1) {
  background: #eee;
}

tbody > tr:hover {
  background: rgba(rebeccapurple, 0.3);
  cursor: pointer;
}
.desc {
  display: none;
}
/*.row:hover + .desc,*/
.row:active + .desc {
  background-color: white;
  display: table-row;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 90%;
    margin: 0 auto;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /*.row:hover + .desc,*/
  .row:active + .desc {
    background-color: white;
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .row {
    border: 1px solid #ccc;
    margin-bottom: 1em;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }
  .desc > td {
    border: 1px solid #ddd;
    padding-left: 5px;
    margin-bottom: 1em;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    /*top: 6px;*/
    left: 1em;
    width: 45%;
    padding-right: 5px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    border-right: 1px solid #bbb;
    color: #000;
    font-weight: bold;
  }
}
